{% extends 'base.html.twig' %}

{% block title %}Menu!{% endblock %}

{% block body %}
    <div class="container">
        <h2><a href="{{ path('app_access') }}">Accès</a></h2>
        <h2><a href="{{ path('app_user') }}">Utilisateurs</a></h2>
        <h2><a href="{{ path('app_reservation') }}">Réservations</a></h2>
    </div>
{% endblock %}