body {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Le contenu prend autant d'espace que possible */
}

.btn-bd-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-btn-hover-color);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.filler {
    flex: 1; /* Remplit l'espace entre le contenu et le footer */
}